body {
  margin: 0; /* これを変えると：ページの周りの余白が変わります */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* これを変えると：ページ全体の文字の形（フォント）が変わります */
  -webkit-font-smoothing: antialiased; /* これを変えると：Safari（サファリ）ブラウザでの文字の表示がなめらかになったりギザギザになったりします */
  -moz-osx-font-smoothing: grayscale; /* これを変えると：Firefox（ファイアフォックス）ブラウザでの文字の表示がなめらかになったりギザギザになったりします */
}

/* タップ時の青い枠線を削除 */
* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button, input, select, textarea, a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* これを変えると：プログラムのコードを表示するときの文字の形（フォント）が変わります */
}

/* スマートフォン横画面でアドレスバーを隠す */
@media (max-width: 767px) and (orientation: landscape) {
  html {
    height: 100vh;
    height: 100svh; /* Safari用 */
    height: 100dvh; /* Chrome用 */
  }
  
  body {
    height: 100vh;
    height: 100svh; /* Safari用 */  
    height: 100dvh; /* Chrome用 */
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  #root {
    height: 100vh;
    height: 100svh; /* Safari用 */
    height: 100dvh; /* Chrome用 */
  }
}

/* スマートフォン向けのスタイル */
@media (max-width: 767px) {
  /* ここにスマートフォン向けのスタイルを記述します */
}

/* タブレット向けのスタイル */
@media (min-width: 768px) and (max-width: 1750px) {
  /* ここにタブレット向けのスタイルを記述します */
}
